<h1>Comparison Reports</h1>

<table>
  <thead>
    <tr>
      <th>Created By</th>
      <th>Created At</th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= report.created_by %></td>
        <td><%= report.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
