<div class="container flex items-baseline justify-between w-100">
  <h1 class="text-4xl">Comparison Report#<%=@report.id%></h1>
  <%= link_to 'Back', comparison_reports_path, class: "btn" %>
</div>

<h2 class="text-2xl">Discrepancies</h1>
<%= render "comparison_results_table", comparison_results: @report.discrepancies, id: "discrepancy" %>

<h2 class="text-2xl">Other Results</h1>
<%= render "comparison_results_table", comparison_results: @report.non_discrepancies, id: "other" %>
